@(p: models.Product, user: models.users.User, env: play.api.Environment)

@main("Product Detail",user) {

<p class="lead">Product Details</p>
<br>
<div class="content-fluid">
    <div class="col-sm-6">
        @if(env.resource("public/images/productImages/" + p.getId + ".jpg").isDefined) {
            <td><img src="/assets/images/productImages/@(p.getId + ".jpg")"/></td>
        } else {
            <td><img src="/assets/images/productImages/house.jpg"/></td>
        }
    </div>
    <div class="col-sm-6">
       <h3>@p.getName</h3>
       <br>
       <p>@p.getDescription</p>
       <p><strong>Category:</strong> @p.getCategory.getName</p>
       <p><strong>Price:</strong>€ @("%.2f".format(p.getPrice))</p>
       <p><strong>Stock:</strong> @p.getStock</p>
    </div>
</div>
}
